<header>
    <!-- place navbar here -->
    <nav class="navbar navbar-expand-sm navbar-light" id="up">
          <div class="container">
            <a class="navbar-brand" href="../inicio.html"> 
            <img src="/images/logo_home.png" width="150px" alt="" class="logo-web">
            </a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="../inicio.html" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="./nosotros" aria-current="page">Nosotros <span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="./licitaciones" aria-current="page">Licitaciones <span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="./interno" aria-current="page">Uso Interno <span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="./contacto.html">Contacto</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="./mapa.html">Mapa</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#noticias">Noticias</a>
                </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="#">Sitio en</a>
                            <a class="dropdown-item" href="#">Construcción</a>
                        </div>
                    </li>
                </ul>
                <form class="d-flex my-2 my-lg-0">
                    <input class="form-control me-sm-2" type="text" placeholder="">
                    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
      </div>
    </nav>

   
    <span class="redes-sociales-span">    

    </span>

  </header>