<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')  %>
      
        
          
<body  style="background-image: url('/images/imagen\ productos\ vector-03.png'); background-size: cover;"> 

    <main>
      <%- include('../partials/modals')  %>    
      <%- include('../partials/canvasMenu')  %> 


      <div id="wrapper">

		<!-- Sidebar -->
		<ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

			

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Nav Item - Dashboard -->
			<li class="nav-item active">
				<a class="nav-link" href="/">
					<i class="fas fa-fw fa-tachometer-alt"></i>
					<span>Dashboard - Cunitas</span></a>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Heading -->
			<div class="sidebar-heading">Actions</div>

			<!-- Nav Item - Pages -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="/">
					<i class="fa-solid fa-truck fa-folder"></i>
					<span>Retiros</span>
				</a>
			</li>

			<!-- Nav Item - Charts -->
			<li class="nav-item">
				<a class="nav-link" href="/cunas/listar">
					<i class="fas fa-fw fa-chart-area"></i>
					<span>Stock</span></a>
			</li>

			<!-- Nav Item - Tables -->
			<li class="nav-item">
				<a class="nav-link" href="/inicio">
					<i class="fa-solid fa-house"></i>
					<span>Ir al Inicio</span></a>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">
		</ul>
		<!-- End of Sidebar -->


        <!-- Content Row Top -->
				<div class="container-fluid mt-3">
					
				
					<!-- Content Row Movies-->
					<div class="row">

						<!-- Movies in Data Base -->
						<div class="col-md-4 mb-4">
							<div class="card border-left-primary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Productos en Base de Datos</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800">21</div>
										</div>
										<div class="col-auto">
											<i class="fa-solid fa-person-breastfeeding fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Total awards -->
						<div class="col-md-4 mb-4">
							<div class="card border-left-success shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xs font-weight-bold text-success text-uppercase mb-1"> Retiros</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800">79</div>
										</div>
										<div class="col-auto">
											<i class="fa-solid fa-truck fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Actors quantity -->
						<div class="col-md-4 mb-4">
							<div class="card border-left-warning shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Usuarios Editores
											</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800">49</div>
										</div>
										<div class="col-auto">
											<i class="fas fa-user fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End movies in Data Base -->
					
	
					<!-- Content Row Last Movie in Data Base -->
					<div class="row">
						<!-- Last Movie in DB -->
						<div class="col-lg-6 mb-4">
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h5 class="m-0 font-weight-bold text-gray-800">Total de kits terminados</h5>
								</div>
								<div class="card-body">
									<div class="text-center">
										<img class="img-fluid px-3 px-sm-4 mt-3 mb-4 " style="width: 100%;" src="/images/cunitas/kit.webp" alt=" Star Wars - Mandalorian">
									</div>
									<p>Total de kits de cunitas terminados...</p>
									<a class="btn btn-danger" target="_blank" rel="nofollow" href="/">Ver más</a>
								</div>
							</div>
						</div>
						<!-- End content row last movie in Data Base -->

						<!-- Genres in DB -->
						<div class="col-lg-6 mb-4">						
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h5 class="m-0 font-weight-bold text-gray-800">Stock por Unidades</h5>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-lg-6 mb-4">
											<div class="card bg-dark text-white shadow">
												<div class="card-body">
													Acción
												</div>
											</div>
										</div>
										<div class="col-lg-6 mb-4">
											<div class="card bg-dark text-white shadow">
												<div class="card-body">
													Animación
												</div>
											</div>
										</div>
										<div class="col-lg-6 mb-4">
											<div class="card bg-dark text-white shadow">
												<div class="card-body">
													Aventura
												</div>
											</div>
										</div>
										<div class="col-lg-6 mb-4">
											<div class="card bg-dark text-white shadow">
												<div class="card-body">
													Ciencia Ficción
												</div>
											</div>
										</div>
										<div class="col-lg-6 mb-4">
											<div class="card bg-dark text-white shadow">
												<div class="card-body">
													Comedia
												</div>
											</div>
										</div>
										<div class="col-lg-6 mb-4">
											<div class="card bg-dark text-white shadow">
												<div class="card-body">
													Documental
												</div>
											</div>
										</div>
										

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--End Content Row Top-->
			</div>
			<!-- End of MainContent -->




    </main>

    <script>
      const icon = document.getElementById('userIconProfile')
      const cardImg = document.getElementById('imgIcon')
      icon.addEventListener('error', () => {
      icon.src = 'https://cdn-icons-png.flaticon.com/512/149/149071.png'
    
    })
    
    cardImg.addEventListener('error', () => {
      cardImg.src = 'https://cdn-icons-png.flaticon.com/512/149/149071.png'
    })
    
    </script>
    
    <script>
      function showAlertAndSubmit(event) {
        event.preventDefault();
    
        Swal.fire({
          title: '¿Estas seguro de editar tu información?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Si, editar'
        }).then((result) => {
          if (result.isConfirmed) {
            // Si el usuario confirmó el alert, envía el formulario manualmente
            const form = document.getElementById("editInfo");
            Swal.fire({
      position: 'center',
      icon: 'success',
      title: 'Informacion editada correctamente',
      showConfirmButton: false,
      timer: 1500
    })
    
            // Retraso de 5 segundos antes de enviar el formulario y cambiar la página
            setTimeout(function() {
              form.submit();
            }, 1000); // 2000 milisegundos = 2 segundos
          }
        });
      }
    </script>
    
    <%- include('../partials/scripts')  %>
    
    <script src="/js/resetUserPass.js"></script>
    </body>
    </html>