<% if (locals.userLogin) { %>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">     
      <h5 id="offcanvasRightLabel" class="d-flex align-items-center text-muted">
        <img id="userIconProfile" src="<%= /http/.test(locals.userLogin.icon) ? locals.userLogin.icon : `/images/iconsProfile/${locals.userLogin.icon}` %>" class="iconProfile me-2" alt="">
        <%= locals.userLogin.name %>
        <button type="button" class="btn-close btn-sm text-reset ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>       
      </h5>
     
    </div>
    <hr>
    <div class="offcanvas-body text-center justify-content-center">
      <% if (locals.userLogin && (locals.userLogin.rol === 1 || locals.userLogin.rol === 2 || locals.userLogin.rol === 4) ) { %>
        <a class="btn btn-outline-danger w-75 mb-3 text-start" href="/licitacion/publicaciones">
          <i class="far fa-file-alt fa-lg me-2"></i> Administrar Publicaciones
        </a>
      <% } %>
  
      <% if (locals.userLogin && (locals.userLogin.rol === 1 || locals.userLogin.rol === 2 || locals.userLogin.rol === 3) ) { %>
        <a class="btn btn-outline-danger w-75 mb-3 text-start" href="/noticias/add">
          <i class="far fa-newspaper fa-lg me-2"></i> Agregar Nueva Noticia
        </a>
      <% } %>
      <% if (locals.userLogin && (locals.userLogin.rol === 1 || locals.userLogin.rol === 2 || locals.userLogin.rol === 5) ) { %>
        <a class="btn btn-outline-danger w-75 mb-3 text-start" href="/stock/estadistica">
          <i class="fa-solid fa-sliders"></i> Métricas
        </a>
      <% } %>
      <% if (locals.userLogin && (locals.userLogin.rol === 1 || locals.userLogin.rol === 2 || locals.userLogin.rol === 5) ) { %>
        <a class="btn btn-outline-danger w-75 mb-3 text-start" href="/stock">
          <i class="fa-solid fa-arrow-trend-up"></i> Módulo de Stock
        </a>
      <% } else if (locals.userLogin && (locals.userLogin.rol === 1 || locals.userLogin.rol === 2 || locals.userLogin.rol === 6) ){ %>
        <a class="btn btn-outline-danger w-75 mb-3 text-start" href="/stock/partes">
          <i class="fa-solid fa-calendar-days"></i> Parte Semanal
        </a>
        <% } %>
  
      <% if (locals.userLogin.rol === 1) { %>
        <a class="btn btn-outline-danger w-75 mb-3 text-start" href="/users/dashboard" aria-current="page">
          <i class="fas fa-user-shield me-2"></i> Panel de Usuarios<span class="visually-hidden">(current)</span>
        </a>
        <a class="btn btn-outline-danger w-75 mb-3 text-start" href="/stock/partes">
          <i class="fa-solid fa-calendar-days"></i> Parte Semanal
        </a>
      <% } %>
  
      <a class="btn btn-outline-danger w-75 mb-3 text-start" href="/users/perfil" aria-current="page">
        <i class="fas fa-user me-2"></i> Ir al Perfil<span class="visually-hidden">(current)</span>
      </a>      
      
       <button type="button" class="btn btn-outline-danger w-75 mb-3 text-start" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fas fa-user-edit"></i>  Cambio de rol
           </button>
           <% if (locals.userLogin && locals.userLogin.rol != 7 ) { %>
            <button type="button" class="btn btn-outline-danger w-75 mb-3 text-start" data-bs-toggle="modal" data-bs-target="#exampleModal1">
              <i class="fas fa-link"></i>  Uso Interno
           </button>
           <% } %>            
               <a class="btn btn-outline-danger w-75 mb-3 text-start" href="/inicio" aria-current="page">
                <i class="fas fa-home me-2"></i> Ir al inicio<span class="visually-hidden">(current)</span>
              </a>
  
      <form id="logoutUser" action="/users/logout" method="GET">
        <button onclick="showAlertAndLogout(event)" type="submit" class="btn btn-outline-danger w-75 text-start">
          <i class="fas fa-sign-out-alt me-2"></i> Cerrar Sesión
        </button>
      </form>
    </div>
  </div>
  <% } %>


  <!-- MODAL INTERNOS TRABAJADORES ESTADISTICA -->
<div class="modal fade" id="internosTrabajadores" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Estadística de internos trabajadores</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <!-- Total internos -->
       <div class="col-md-4 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total de internos trabajadores</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">416</div>
              </div>
              <div class="col-auto">
                <i class="fa-solid fa-people-group fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- internos por unidad -->
      <div class="col-lg-12 mb-4">						
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-gray-800">Internos trabajadores por unidad</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 mb-4">
                <div class="card bg-dark text-white shadow">
                  <div class="card-body">
                  <i class="fa-solid fa-people-group text-gray-300"></i>  CPFI - 76
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="card bg-dark text-white shadow">
                  <div class="card-body">
                  <i class="fa-solid fa-people-group text-gray-300"></i>  CPFII - 173 
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="card bg-dark text-white shadow">
                  <div class="card-body">
                  <i class="fa-solid fa-people-group text-gray-300"></i>  CPF III - 28 
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="card bg-dark text-white shadow">
                  <div class="card-body">
                    <i class="fa-solid fa-people-group text-gray-300"></i>  CPF IV - 44
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="card bg-dark text-white shadow">
                  <div class="card-body">
                    <i class="fa-solid fa-people-group text-gray-300"></i> CPF CABA - 50 
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="card bg-dark text-white shadow">
                  <div class="card-body">
                    <i class="fa-solid fa-people-group text-gray-300"></i> UNIDAD 4 - 20
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="card bg-dark text-white shadow">
                  <div class="card-body">
                    <i class="fa-solid fa-people-group text-gray-300"></i> UNIDAD 31 - 25
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
    
   
 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>        
      </div>
    </div>
  </div>
</div>


