<div class="container">
    <h6 id="down">Colaboran con nosotros:</h6>
    <img src="/images/imagenes main/logos_HOME.jpg" alt="" class="mx-auto d-block img-fluid  logosColaboradores">
  </div>

  <div class="ir-arriba">
    <a href="#up">    
      <i class="fa-solid fa-circle-up"></i>
    </a>
  </div>