<footer style="background-color:black">
    <!-- place footer here -->
    <div class="container">
      <div class="row p-4  text-white"> 
          <div class="col-xs-12 col-md-6 col-lg-4" >
            <img src="/images/logo_blanco_2.png" alt="" width="160px">
            <div class="mb-3 mt-2 text-start">
              <p class="h5">Sede Central:</p>
            </div>
            <div class="mb-3">
              <p class="text-white">Avenida San Juan 369, CABA</p>
            </div>
            <div class="mb-3">
              <p class="text-white">Lunes a viernes de 08:00 a 20:00 hs</p>
            </div>
            <div class="mb-3">
              <p class="text-white">difusion@encope.gob.ar</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-4">
            <p class="h5">Suscribete a Nuestro Newsletter</p>
            <div class="news">
              <form action="mailto:difusion@encope.gob.ar" method="post" name="form1">
                <label for="nombre"></label>
                <input class="formulario__input" id="nombre" name="nombre" type="text" placeholder="Ingrese su nombre"/>
                <label for="email"></label>
                <input class="formulario__input" id="email" name="nombre" type="text" placeholder="Ingrese su mail" />
                <!-- <textarea class="formulario__input" id="opinion" name="opinion" placeholder="Escribe un comentario"></textarea> -->
                <input class="formulario__btn" name="Submit" type="submit" value="Enviar" />
              </form>              
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="mb-3">
              <p class="h5 text-lg-center">Escribinos tus consultas</p>
            </div> <br>
            <div class="mb-2 text-lg-center wtp ">
              <a href="https://api.whatsapp.com/send?phone=541140819578&text=hola,%20¿qué%20tal%20estás?"><i class="fa-brands fa-whatsapp"></i></a>
            </div> 
            <div class="mb-3"><br>
              <p class="text-white text-center h5">11 4081-9578</p>
            </div>
            <div class="mb-3 redes-sociales-footer text-center mt-4">  
              <a href="https://instagram.com/encope.spf" target="_blank"><i class="fa-brands fa-instagram"></i></a>
              <a href="https://www.facebook.com/profile.php?id=100008353927791" target="_blank"><i class="fa-brands fa-facebook"></i></a>
              <a href="https://twitter.com/encope_spf" target="_blank"><i class="fa-brands fa-twitter"></i></a>
              <a href="https://www.youtube.com/channel/UCwnnCYpa8T8hfWaUKJ62jMw" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            </div>           
          </div>          
          <div class="col-xs-12 pt-4">
            <p class="text-white text-center mb-0" style="font-size:10px ;">© 1994-2022 ENCOPE – Departamento de Asistencia Técnica</p>    
          </div>
      </div>
    </div>
  <br>

  
  </footer>