<header>
    <!-- place navbar here -->
    <nav class="navbar navbar-expand-sm navbar-light" id="up" data-aos="zoom-in" data-aos-duration="1000">
          <div class="container-fluid ms-3">
            <a class="navbar-brand" href="/inicio"> 
            <img src="/images/logo_home.png" width="150px" alt="" class="logo-web">
            </a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mt-3" id="collapsibleNavId">
                <ul class="navbar-nav  mt-2 mt-lg-0">
                    
                    <li class="nav-item">
                        <a class="nav-link active" href="/inicio" aria-current="page">Home<span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item" data-aos="zoom-in" data-aos-duration="3000">
                        <a class="nav-link active fw-bold" href="/nosotros" aria-current="page">¿Quiénes somos? <span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/licitacion/listar" aria-current="page">Licitaciones <span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/contacto">Contacto</a>
                    </li>
               
                    <li class="nav-item">
                      <a class="nav-link active" href="/mapa">Mapa</a>
                  </li>
                  <li class="nav-item me-4">
                    <a class="nav-link active" href="/noticias">Noticias</a>
                </li>
                <form action="/licitacion/searchLicitacion" method="get" class="d-flex ">
                    <input  class="form-control me-sm-2" type="search" name="search" placeholder="Buscar Licitacion">
                    <button class="btn btn-outline-danger my-2 my-sm-0 me-3" type="submit">Buscar</button>
                  </form>
                <% if (locals.userLogin) { %>                    
                  <button class="btn btn-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><img id="userIconProfile" src="<%= /http/.test(locals.userLogin.icon) ? locals.userLogin.icon : `/images/iconsProfile/${locals.userLogin.icon}` %>" class="iconProfile me-2" alt="">
                    <%= locals.userLogin.name %> <i class="fa-solid fa-caret-down fa-lg"></i></button>
                 <% } else {%>
                    <li class="nav-item">
                        <a class="nav-link active" href="/users/login">Iniciar Sesión</a>
                    </li>
                <% } %>                 
                </ul>              
            </div>
      </div>
    </nav>      
    <span class="redes-sociales-span">  
    </span>
    <script src="//code.tidio.co/hlix5kfat3m92rb4tfebsyogegqfbmo3.js" async></script>

      <!-- Accessibility Code for "www.encope.gob.ar" --> <script> window.interdeal = { "sitekey": "df0a6884c82e93c2e7023d1225b43fcd", "Position": "Right", "Menulang": "ES", "domains": { "js": "https://cdn.equalweb.com/", "acc": "https://access.equalweb.com/" }, "btnStyle": { "vPosition": [ "80%", null ], "scale": [ "0.8", "0.8" ], "icon": { "type": 7, "shape": "semicircle", "outline": false } } }; (function(doc, head, body){ var coreCall = doc.createElement('script'); coreCall.src = interdeal.domains.js + 'core/4.5.8/accessibility.js'; coreCall.defer = true; coreCall.integrity = 'sha512-edRZXolhkUWHM/uu0oiEu0tD39SPOhnl5a2KM+62YWIfb4M5oSMjvyl2NPXtGq8McfJl88bKtaxljjViGqQXtA=='; coreCall.crossOrigin = 'anonymous'; coreCall.setAttribute('data-cfasync', true ); body? body.appendChild(coreCall) : head.appendChild(coreCall); })(document, document.head, document.body); </script>
   
  </header>