<header>
    <!-- place navbar here -->
    <nav class="navbar navbar-expand-sm navbar-light" id="up">
          <div class="container-fluid ms-3">
            <a class="navbar-brand" href="/inicio"> 
            <img src="/images/logo_home.png" width="150px" alt="" class="logo-web">
            </a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    
                    <li class="nav-item">
                        <a class="nav-link active" href="/inicio" aria-current="page">Home<span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/nosotros" aria-current="page">Nosotros <span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/licitacion/listar" aria-current="page">Licitaciones <span class="visually-hidden">(current)</span></a>
                    </li>
                  <!--   <li class="nav-item">
                        <a class="nav-link active" href="./interno" aria-current="page">Uso Interno<span class="visually-hidden">(current)</span></a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Contacto</a>
                    </li>
               
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Mapa</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/noticias">Noticias</a>
                </li>
                <form action="/licitacion/searchLicitacion" method="get" class="d-flex my-2 my-lg-0">
                    <input  class="form-control me-sm-2" type="search" name="search" placeholder="Buscar Licitacion">
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Buscar</button>
                  </form>
                <% if (locals.userLogin) { %>
                    
                    <li class="nav-item ms-3 saludo-user" >
                        <a href="/users/perfil" class="text-muted ">Hola, <%= userLogin.name %> | Ir al perfil  <img id="iconInicioUser2" src="<%= /http/.test(userLogin.icon) ? userLogin.icon : `/images/iconsProfile/${userLogin.icon}` %>"  alt="" class="iconProfile"></a>                       
                    </li>   
                
          <!--       <li class="nav-item ">
                    <a class="nav-link active text-secondary" href="/users/logout">Cerrar Sesion</a>
                       
                </li>  
               -->
                 

                 <% } else {%>
                    <li class="nav-item">
                        <a class="nav-link active" href="/users/login">Iniciar Sesión</a>
                    </li>
                <% } %>


                 
                </ul>
              
            </div>
      </div>
    </nav>

    
   
    <span class="redes-sociales-span">    

    </span>

  </header>