       <!-- Modal USO INTERNO-->
       <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Uso interno</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- Contenido del modal -->
              <!-- cabecera  -->
          
            <div class="container-fluid titulares-secciones">
              
          </div>
           <!-- SECCION USO INTERNO -->
      
          
           <div class="container-fluid">
            <div class="row justify-content-around p-5" style="background-color: #829529;">          
            <div class="col-xs-12 col-md-6 col-lg-2">
              <a href="https://peculio.encope.gob.ar/" target="_blank" >      <!-- ESTA LINEA ES PARA DESCARGAR ARCHIVOS DESDE EL LINK -->
                <img class="mx-auto img-fluid d-block" src="/images/iconos/peculio-01.png" width="150px" alt="" >
              </a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-2 ">
              <a href="https://patrimonial.encope.gob.ar/Seguridad/Login?returnUrl=%2F" target="_blank">
                <img class="mx-auto img-fluid d-block"  src="/images/iconos/patrimonial-01.png" width="150px" alt="" >
              </a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-2 ">
              <a href="https://presupuesto.encope.gob.ar/" target="_blank">
                <img class="mx-auto img-fluid d-block" src="/images/iconos/presupuesto-01.png" width="150px" alt="" >
              </a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-2 ">
              <a href="https://login.microsoftonline.com" target="_blank">
                <img class="mx-auto img-fluid d-block" src="/images/iconos/web mail-01.png" width="150px" alt="" >
              </a>
            </div>
            </div>
        </div>
        <!-- INICIA TABLAS DESCARGA NORMATIVAS -->
      <br>
      <div class="contenedor">
        <table class="table">
            <h2>Normativas</h2><br>
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Titulo</th>
                    <th>Fecha de vigencia</th>
                    <th>Descargar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Tipo">Ley</td>
                    <td data-label="titulo">24.372</td>
                    <td data-label="fecha">29-09-1994</td>
                    <td data-label="descargar" class="boton-descarga"> <a href="http://servicios.infoleg.gob.ar/infolegInternet/anexos/65000-69999/67467/texact.htm" download="licitacion.pdf"> <i class="fa-sharp fa-solid fa-cloud-arrow-down"></i></a> </td>
                </tr>
                <tr>
                  <td data-label="Tipo">Reglamento</td>
                  <td data-label="titulo">Reglamento Interno ENCOPE</td>
                  <td data-label="fecha">29-09-2022</td>
                  <td data-label="descargar" class="boton-descarga"> <a href="../normativas/archivos/reglamento.pdf" download="reglamento.pdf"><i class="fa-sharp fa-solid fa-cloud-arrow-down"></i> </a> </td>
              </tr>
                     
            </tbody>
        </table>
      </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
                
             
                <!-- Modal -->


                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Cambio de rol de usuario</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p>Para cambiar sus permisos de usuario primero deberá acreditar que es un agente editando su información personal a través del formulario agregando en el mismo su destino y su credencial. <br>
                          Por último deberá realizar su solicitud via mail a la dirección <span class="text-bg-primary">informatica@encope.gob.ar</span>, indicando sus datos de usuario: nombre, apellido, credencial, destino y email. 
                          </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>


                  <!-- FICHAS TECNCIAS -->

            

                   


                