<ul class="pagination">
    <li class="page-item" id="btn-prev-table-licitacion">
      <a class="page-link" aria-label="Previous" style="cursor: pointer;">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
  
    <div id="container-items-page-table-publicas" class="d-flex">
  
    </div>
  
  
    <li class="page-item" id="btn-next-table-licitacion">
      <a class="page-link" aria-label="Next" style="cursor: pointer;">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
  